<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
    <title>Eyob</title>
</head>

<body>
        <nav class="navigation">
            <div class="nav-content">
                <%- include("./partials/header") %>
                <div class="store-home">
                    <div class="container home">
                        <div class="heading">
                            <div>
                                <h1>Welcome to EYOB</h1>
                                <h6>Agrochemicals and farm tools</h6>
                            </div>
                        </div>
                        <div class="items-container">
                            <div class="items">
                                <div class="item">
                                    <h6>Herbicides</h6>
                                </div>
                                <div class="item">
                                    <h6>Insecticides</h6>
                                </div>
                                <div class="item">
                                    <h6>Pesticides</h6>
                                </div>
                                <div class="item">
                                    <h6>Fungicides</h6>
                                </div>
                                <div class="item">
                                    <h6>Seedlings</h6>
                                </div>
                                <div class="item last-child">
                                    <a href="/dashboard">
                                    <h6>go to store</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>