<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/fontawesome/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/newp.css">
    <title>EYOB | Login</title>
</head>

<body>
    <div id="login" class="registration login">
        <%- include("./partials/header") %>
        <div class="eversion-container">
          <div class="container-form">
            <div class="forms">
              <div class="sign-up">
                <h2>Welcome, please log in</h2>
                <h6>
                  Don't have an account? <a href="/register">Sign Up</a>
                </h6>
              </div>
              <form action="/login" method="post">
                <div class="form">
                  <div class="signup-inputs">
                    <div>
                      <label htmlFor="Email">Email</label>
                      <input type="email" name="email" />
                    </div>
                    <div>
                      <label htmlFor="password">Password</label>
                      <input type="password" name="password" />
                    </div>
                    <div>
                      <input
                        type="submit"
                        value="Log In"
                        class="btn btn-primary"
                      />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>