<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/newp.css">
    <title>Document</title>
</head>
<body>
    <div class="registration add container">
        <%- include("./partials/header") %>
        <div class="eversion-container">
          <div class="container-form">
            <div class="forms">
              <div class="sign-up">
                <h2>Add a new product</h2>
                <h6>
                  Go to my <a href="/dashboard">store</a>
                </h6>
              </div>
              <form action="/new-product" method="post">
                <div class="form">
                  <div class="signup-inputs">
                    <div>
                      <label htmlFor="product-name">Product Name</label>
                      <input type="text" name="productName" />
                    </div>
                    <div>
                      <label htmlFor="price">price</label>
                      <input type="number" name="price" />
                    </div>
                    <div>
                      <label htmlFor="quantity">Quantity</label>
                      <input type="number" name="quantity" />
                    </div>
                    <div>
                      <input type="submit" value="Add new product" class="btn btn-primary" />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>